# see: https://pnpm.io/next/npmrc#auto-install-peers
auto-install-peers=true

# @fuf-stack/project-cli-tools
public-hoist-pattern[]=@commitlint*
public-hoist-pattern[]=@lerna-lite*
public-hoist-pattern[]=commitizen
public-hoist-pattern[]=cz-conventional-changelog
public-hoist-pattern[]=husky
public-hoist-pattern[]=lint-staged
public-hoist-pattern[]=nodemon
public-hoist-pattern[]=turbo
public-hoist-pattern[]=wait-on

# @fuf-stack/eslint-config-fuf-base
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*

# @fuf-stack/vitest-config
public-hoist-pattern[]=vitest*
public-hoist-pattern[]=@vitest/coverage-istanbul
