name: ci

# only on push in branches
on:
  push:
    branches:
      - '**'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-project
      - run: pnpm test --test-timeout=30000
